.navbar
  .navbar-inner
    ul.nav
      li.active
        a(href='/') IRC Standup
      li
        a(href='/api/historical') JSON Historical Data
      li
        a(href='/user') User Data
      li
        a(href='/api/user') Users List
